// General
.fuente-color-acento-contenido
  color: $color-acento-contenido

.bg-color-acento-contenido
  background-color: $color-acento-contenido

.bg-color-acento-botones
  background-color: $color-acento-botones

.img250
  max-width: 250px !important

// Tema1
.bgTarjetaInfografia
  background-color: #DFEBCE

.bgTarjetaTab
  background-color: rgba($color-primario, 0.15)

.tabs-a__content-item
  width: 250px
  @media screen and (max-width: 991px)
    width: 90%

.imgTab
  position: absolute
  width: 40%
  top: 5%
  right: 5%
  
  @media screen and (max-width: 1199px)
    top: 10%
    width: 30%
  @media screen and (max-width: 991px)
    position: relative
    margin: 0 auto
    width: 70%
    padding-bottom: 80px
  
.cajon-transparente
  background-color: rgba(#F1EFED, 0.25) !important

// Tema 2
.linea-tiempo-a
  background-image: url("../assets/curso/tema2/bg-linea.png")
  background-repeat: no-repeat
  background-position: 0 100% 

.linea-tiempo-a__icon__container span 
  color: white

.bg-tarjeta-infografia
  background-color: #BECEA5  


// Tema 3 
.bg-color-tarjeta  
  background-color: #ECEDEB
  height: 200px

.bg-factores
  background-image: url('../assets/curso/tema3/bg-factores.png')
  background-repeat: no-repeat
  background-position: 0 100%

.tarjeta-inmunizado
  border-radius: 30px;
  height: 420px

.bg-color-tarjeta-inmunizado
  background-color: #D6B698
.bg-archivo-norma
  background: rgb(86,29,24);
  background: linear-gradient(0deg, rgba(86,29,24,1) 30%, rgba(204,151,100,1) 100%);