// General
.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

.fadeIn
  animation-name: fadeIn

.fuente-color-acento-contenido
  color: $color-acento-contenido

.bg-color-acento-contenido
  background-color: $color-acento-contenido

.bg-color-acento-botones
  background-color: $color-acento-botones

.img90
  max-width: 90px !important

.img250
  max-width: 250px !important


// Tema1
.bloque-texto-g__texto
  width: 70%

.bgTarjetaInfografia
  background-color: #DFEBCE

.bgTarjetaTab
  background-color: rgba($color-primario, 0.15)

.tabs-a__tab
  background-color: #E8E8E8
  color: #12263F

.tabs-a__content-item
  width: 250px
  @media screen and (max-width: 991px)
    width: 90%

.imgTab
  position: absolute
  width: 40%
  top: 5%
  right: 5%
  
  @media screen and (max-width: 1199px)
    top: 10%
    width: 30%
  @media screen and (max-width: 991px)
    position: relative
    margin: 0 auto
    width: 70%
    padding-bottom: 80px
  
.cajon-transparente
  background-color: rgba(#F1EFED, 0.25) !important

.lista-ol--cuadro__vineta
  border-radius: 50%;
  padding: 17px

// Tema 2
.bg-linea-tiempo
  position: relative
  .row
    position: relative
  &::before
    content: url("../assets/curso/tema2/bg-linea.png")
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 490px
    margin: 0 -3rem


.linea-tiempo-a__icon__container span 
  color: white

.linea-tiempo-a__content span  
  max-width: 450px

.bg-tarjeta-infografia
  background-color: #BECEA5
  text-align: center

.img-infografica__card
  width: 400px 

.bg-tarjeta-infografia-o
  background-color: #DFEBCE
  text-align: center

// Tema 3 
.bg-color-tarjeta  
  background-color: #ECEDEB
  height: 200px

.bg-factores
  position: relative
  .row
    position: relative
  &::before
    content: url("../assets/curso/tema3/bg-factores.png")
    position: absolute 
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 723px
    margin: 0 -3rem

.bg-tarjeta-infografia-3
  background-color: #A5C37A


.tarjeta-inmunizado
  border-radius: 30px;
  @media screen and (max-width: 991px)
    width: 80%

.bg-color-tarjeta-inmunizado
  background-color: #D6B698
  
.bg-archivo-norma
  background: rgb(86,29,24);
  background: linear-gradient(0deg, rgba(86,29,24,1) 30%, rgba(204,151,100,1) 100%);

// Tema 4 
.bg-tablas-conversion
  position: relative
  .row
    position: relative
  &::before
    content: url("../assets/curso/tema2/bg-linea.png")
    position: absolute 
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 480px
    margin: 0 -3rem  


.bg-color-tarjeta-medidas  
  background-color: #ECEDEB

.bg-caja-instrumentos
  background-color: #EDF3E4
  height: 65%    

.img-caja-instrumentos
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)

// Tema 5
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #E1C1A3
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #E1C1A3

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: rgba(#A83B24, 0.25)
.linea-tiempo-d__item--selected .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: rgba(#A83B24, 0.25)

table.tabla-apilado
  border: 1px solid #AFAFAF
  background-color: #FFFFFF
  width: 100%
  text-align: center

  td, th
    border: 1px solid #AFAFAF
    padding: 10px 10px

  tbody td
    font-size: 13px

  tr:nth-child(even)
    background: #F6F6F6

  thead
    background: #A83B24

    th
      font-size: 14px
      font-weight: bold
      color: #FFFFFF
      border-left: 2px solid #D0E4F5

      &:first-child
        border-left: none

.tarjeta-apilado
  border-radius: 30px;
.tarjeta-apilado.curuba
  background-color: #ED917D
.tarjeta-apilado.verde
  background-color: #B7DB84


// Tema 6

#elementos .img-infografica__item
  width: 5%
